* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a1c2e;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.container {
 grid-row: 2;
 grid-column: 2;
 display: flex;
 flex-direction: column;
 align-items: center;
 

 background-color: #4d7196;
 border-radius: 20px;
}

.login-title {
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-button {
  background-color: #0a1c2e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  
}

.username-input, .password-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}



