* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
}

.logo {
  width: 120px;
  height: auto;
}

.split-left {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.split-left .logo {
  width: 120px;
  height: auto;
}

.split-left h1 {
  font-size: 1.8rem;
  line-height: 1.3;
  margin: 0;
  text-align: left;
}

.split-right {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  flex-wrap: wrap;
}

.links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.links a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.links a:hover {
  color: #1FB6A6;
}

.login-button {
  background: transparent;
  color: #1FB6A6;
  border: 0.2px solid #1FB6A6;
  padding: 15px 25px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 22px;
}

.login-button:hover {
  background-color: #1FB6A6;
  color: white;
}

.body {
  background-color: #FFF3E8;
  flex: 1;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}




.footer {
  background-color: #5A3E2B;
  text-align: center;
  padding: 20px;
}